@import '@styles/mixins/hover';
@import '@styles/mixins/breakpoints';

%header-block {
    padding: $indent-step * 5 $indent-step * 7;
    background-color: $secondary-bg;
    border-radius: 16px;
    box-shadow: $base-shadow;
    backdrop-filter: blur(8px);
}

.questions-header {
    position: sticky;
    top: $indent-step * 8;
    z-index: $index-2;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-between;

    @extend %header-block;

    @include mobile {
        border-radius: 0;
    }
}

.questions-logo,
.panel-button {
    flex-shrink: 0;
    fill: $primary-text;
}

.panel-button {
    display: flex;
    align-items: center;

    svg {
        position: relative;
        top: 1px;
        transition: transform $transition-duration ease;
    }

    &--open {
        svg {
            transform: rotate(180deg);
        }
    }
}

.questions-header-expand {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
}

.questions-header-actions {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 16px 24px;
    align-items: flex-end;
    width: 100%;

    @extend %header-block;
}

.action-button {
    width: max-content;
    border-bottom: 1px solid transparent;

    @include hover {
        color: $link-hover;
        border-bottom: 1px solid $link-hover-line;
        transition: color $transition-duration ease, border-bottom $transition-duration ease;
    }

    @include mobile {
        font-size: 0.85em;
    }
}
