@use 'sass:map';
@import '@styles/mixins/hover';

.input-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: $indent-step * 4;
}

.input__label {
    position: absolute;
    top: 18px;
    left: 0;
    color: $primary-text;
    cursor: text;
    transition: top $transition-duration linear, font-size $transition-duration linear;

    &-required {
        color: map.get($toasts, 'error');
    }

    &--full {
        @extend %touched-label;
    }
}

.input {
    width: 100%;
    padding: ($indent-step * 5) 0 ($indent-step * 3);
    color: $extra-light;
    font-size: 0.9em;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $link-hover-line;
    outline: none;
    transition: border-bottom $transition-duration ease, border-color $transition-duration ease;

    &--invalid {
        border-bottom-color: map.get($toasts, 'error');
    }

    &:focus ~ .input__label {
        @extend %touched-label;
    }

    @include hover {
        border-color: $link-hover-line;
    }
}

.input__hint {
    position: absolute;
    bottom: -1px;
    left: 0;
    color: $secondary-text;
    font-size: 0.8em;

    &--error {
        color: map.get($toasts, 'error');;
    }
}

%touched-label {
    top: 0;
    font-size: 0.8em;
}
