@import '@styles/mixins/hover';
@import '@styles/mixins/breakpoints';
@import '@styles/mixins/scroll';

.modal {
    position: fixed;
    z-index: $index-5;
    width: 100%;
    height: 100vh;
    padding-top: $indent-step * 32;
    padding-bottom: $indent-step * 6;
    background-color: $secondary-bg;
    backdrop-filter: blur(4px);
    inset: 0;

    @include tablet {
        padding-top: $indent-step * 20;
    }

    @include v-scroll;
}

.modal__close {
    $offset: 48px;

    position: sticky;
    top: 0;
    left: calc(100% - $offset - 16px);
    width: $offset;
    height: $offset;
    background-color: $primary-bg;
    border-radius: 50%;
    transform: translateY(-112px);
    transition: background-color $transition-duration ease-out;

    @include tablet {
        transform: translateY(-64px);
    }

    &::before,
    &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 21px;
        height: 2px;
        background-color: $extra-light;
        content: "";
    }

    &::after {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &::before {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    @include hover {
        background-color: darken($primary-bg, 10);
    }
}
