.collapse {
    display: grid;
    grid-template-rows: 0fr;
    opacity: 0;
    transition: grid-template-rows $transition-duration ease, opacity $transition-duration ease;

    &--open {
        grid-template-rows: 1fr;
        opacity: 1;
    }
}
