@mixin v-scroll {
    overflow: hidden auto;
    scrollbar-width: thin;
    scrollbar-color: $secondary-bg transparent;

    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
        border: 3px solid $secondary-bg;
        border-radius: 20px;
    }
}

@mixin h-scroll {
    padding-bottom: 4px;
    overflow: auto hidden;
    scrollbar-width: thin;
    scrollbar-color: $secondary-bg transparent;

    &::-webkit-scrollbar {
        height: 4px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
        border: 3px solid $secondary-bg;
        border-radius: 20px;
    }
}

@mixin t-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}
