.trc-app {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    padding: 0 20px;
}

.invisible-scroll {
    scrollbar-width: none;

    &::-webkit-scrollbar { 
        display: none;
    }
}
