html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
}

strong, b {
    font-weight: bold;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
    content: '';
    content: none;
}

a {
    color: currentcolor;
    text-decoration: none;
}

button {
    padding: 0;
    color: currentcolor;
    font-size: inherit;
    font-family: var(--trc-primary-font);
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    user-select: text;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    height: 100%;
    font-size: 18px;
    scroll-behavior: smooth;

    * {
        box-sizing: border-box;

        &::selection {
            color: var(--trc-primary-accent-color);
            background-color: var(--trc-selection-color);
        }

        &:focus-visible {
            outline: 1px solid var(--trc-secondary-accent-color);
        }
    }
}

body {
    height: 100%;
    min-height: 100%;
    overflow-x: hidden;
    line-height: 1;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    color: var(--trc-primary-text-color);
    font-family: var(--trc-primary-font);
    background-color: var(--trc-primary-background-color);
    -webkit-overflow-scrolling: touch;
}

::-ms-clear {
    display: none;
}

::-ms-reveal {
    display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--trc-primary-text-color);
    transition: background-color 5000s ease-in-out 0s;
}

@supports (-webkit-hyphens: none) and (text-align-last: right) {
    ::after {
        content: none;
    }
}
