:root {
    /* Fonts */
    --trc-primary-font: 'Hubot Sans', sans-serif;

    /* Z-index */
    --trc-index-0: 0; /* basic */
    --trc-index-1: 1; /* basic */
    --trc-index-2: 2; /* basic */
    --trc-index-3: 3; /* masks */
    --trc-index-4: 4; /* sidebars */
    --trc-index-5: 5; /* modals */
    --trc-index-6: 6; /* full */

    /* Colors */
    --trc-primary-background-color: #1c1917;
    --trc-surface-background-color: #1f1f1f;
    --trc-primary-text-color: #f5f5f4;
    --trc-secondary-text-color: #a8a29e;
    --trc-primary-accent-color: #ffffff;
    --trc-secondary-accent-color: #f5a623;
    --trc-other-accent-color: #d88d33;
    --trc-error-color: #e74c3c;
    --trc-code-color: #f39c12;
    --trc-border-color: #44403c;
    --trc-selection-color: #9f56e2;
    --trc-scrollbar-primary-color: var(--trc-selection-color);

    /** Common */
    --trc-main-offset: 1.25rem;
    --trc-sidebar-width: 285px;
    --trc-border: 1px solid var(--trc-border-color);
}
