:root {
    /* Fonts */
    --trc-primary-font: 'Hubot Sans', sans-serif;

    /* Z-index */
    --trc-index-0: 0; /* Для наползающих элементов в общем потоке */
    --trc-index-1: 1; /* Для наползающих элементов в общем потоке */
    --trc-index-2: 2; /* Для наползающих элементов в общем потоке */
    --trc-index-3: 3; /* Для масок */
    --trc-index-4: 4; /* Для сайдбаров */
    --trc-index-5: 5; /* Для модалок */
    --trc-index-6: 6; /* Для элементов, перекрывающих всё */

    /* Colors */
    --trc-primary-background-color: #1c1917;
    --trc-surface-background-color: #1f1f1f;
    --trc-primary-text-color: #e0e0e0;
    --trc-secondary-text-color: #aaaaaa;
    --trc-primary-accent-color: #ffffff;
    --trc-secondary-accent-color: #f5a623;
    --trc-other-accent-color: #d88d33;
    --trc-error-color: #e74c3c;
    --trc-code-color: #f39c12;
    --trc-border-color: #333333;
    --trc-selection-color: #9f56e2;
    --trc-link-hover-color: #fecdd3e6;
}
