---
import { DefaultLayout } from "@shared/layouts/Default";
import { Sidebar } from "@widgets/Sidebar";
---

<title>Задачи | Техническое интервью</title>

<DefaultLayout>
    {(pathname: string) => <Sidebar slot="sidebar" client:load {pathname} />}
</DefaultLayout>
