---
import { CircleCheckBig, ChartPie, Sigma } from "@lucide/svelte";

import { DefaultLayout } from "@shared/layouts/Default";
import { Sidebar } from "@widgets/Sidebar";
import { Header, type HeaderProps } from "@widgets/Header";
import { MENU_ROUTES } from "@shared/model/constants";
import { taskState } from "@shared/store/task.svelte";

import { Question } from "@entities/Question";

import { firebaseRepository } from "@shared/api/firebase";

const headerProps: HeaderProps = {
    title: MENU_ROUTES.MAIN.title,
    subtitle: "Оцените теоретические знания кандидата в различных областях",
    Icon: MENU_ROUTES.MAIN.Icon,
    cards: [
        {
            title: "Всего вопросов",
            count: taskState.total,
            Icon: MENU_ROUTES.MAIN.Icon,
        },
        {
            title: "Выполнено",
            count: taskState.solved,
            Icon: CircleCheckBig,
        },
        {
            title: "Оценено",
            count: taskState.graded,
            Icon: ChartPie,
        },
        {
            title: "Средняя оценка",
            count: `${taskState.averageGrade}%`,
            Icon: Sigma,
        },
    ],
    filters: [
        {
            id: "categories",
            title: "Категории",
            options: [
                {
                    id: "1",
                    label: "HTML",
                    value: "html",
                },
                {
                    id: "2",
                    label: "JS",
                    value: "js",
                },
            ],
        },
        {
            id: "status",
            title: "Статус",
            options: [
                {
                    id: "3",
                    label: "Решённые",
                    value: "passing",
                },
                {
                    id: "4",
                    label: "не решённые",
                    value: "failure",
                },
            ],
        },
    ],
    onChangeFilter: console.log,
};

const questions = await firebaseRepository.getAll();
---

<title>Вопросы | Техническое интервью</title>

<DefaultLayout>
    {(pathname: string) => <Sidebar slot="sidebar" client:load {pathname} />}

    <Header {...headerProps} />

    <section class="content">
        <Question client:load />
        {JSON.stringify(questions, null, 2)}
    </section>
</DefaultLayout>
