---
import "@shared/styles/index.scss";

const { pathname } = Astro.url;
---

<!doctype html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <meta name="generator" content={Astro.generator} />
        <title>Техническое интервью</title>
    </head>
    <body class="trc-app">
        {
            Astro.slots.has("sidebar") && (
                <Fragment
                    set:html={Astro.slots.render("sidebar", [pathname])}
                />
            )
        }
        <main class="trc-main">
            <slot />
        </main>
    </body>
</html>
