.component {
    position: relative;
    margin-bottom: 0.5rem;
    white-space: pre;
}

.copy {
    position: absolute;
    top: 8px;
    right: 8px;
    color: currentcolor;
    background-color: transparent;
    border: none;
}
