.header {
    display: grid;
    grid-template-columns: minmax(auto, 500px) 1fr;
    align-items: center;
    min-height: var(--trc-secondary-block-size);
    padding: 36px 0;
    border-bottom: 1px solid var(--trc-border-color);
}

.title {
    padding-right: 24px;
    font-weight: 500;
    font-size: 30px;
}

.menu {
    display: flex;
    gap: 12px;
    align-items: center;
}
