.icon {
    transition: transform 0.3s ease;
}

.open {
    .icon {
        transform: rotate(180deg);
    }

    .content {
        padding: 20px;
    }

    .button {
        border-bottom: var(--trc-border);
    }
}
