@font-face {
    font-weight: bold;
    font-family: 'Hubot Sans';
    font-style: normal;
    src: url('../fonts/HubotSans-Bold.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-weight: 300;
    font-family: 'Hubot Sans';
    font-style: normal;
    src: url('../fonts/HubotSans-Light.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-weight: 500;
    font-family: 'Hubot Sans';
    font-style: normal;
    src: url('../fonts/HubotSans-Medium.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-weight: normal;
    font-family: 'Hubot Sans';
    font-style: normal;
    src: url('../fonts/HubotSans-Regular.woff2') format('woff2');
    font-display: swap;
}
