.template-wrapper {
    padding: $indent-step * 8;
    background-color: $primary-bg;
    border-radius: 16px;
}

.template-header {
    font-size: 1.3em;
}

.template-offset {
    margin-top: $indent-step * 5;
}

.template-button-toolbar {
    display: flex;
    gap: 24px;
}
