.tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    font-size: 12px;
    text-transform: capitalize;
    border-radius: 6px;

    &--easy {
        color: #aaf2af;
        background-color: #0b0f26;
    }

    &--medium {
        color: #ee9450;
        background-color: #131325;
    }

    &--hard {
        color: #ee5050;
        background-color: #231812;
    }
}
